/* Organization */
body {
    /* Font */
    font-size: 18px;
    color: black;
}

/* Upload Button */
label[for="file"] {
    /* Position */
    padding: 5px;
    border-radius: 7px;
    /* Font */
    background-color: lightgray;
}
input[type="file"] {
    /* Position */
    visibility: hidden;
}

/* Select */
select {
    /* Position */
    padding: 5px;
    border-radius: 7px;
}

/* Table */
table {
    /* Position */
    width: 90%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    /* Font */
    font-size: 18px;
}
th, td {
    /* Border */
    border: 1px solid;
}
tbody th {
    /* Font */
    text-align: left;
}

/* Show More Button */
th button {
    /* Position */
    margin: 0;
    width: auto;
    border: 0;
    /* Font */
    font-size: 18px;
    background-color: transparent;
    color: blue;
}
button:hover {
    /* Font */
    cursor: pointer;
}