/* Organization */
body {
    /* Font */
    font-size: 18px;
    color: black;
}

/* Select */
select {
    /* Position */
    margin: 2px 0;
    padding: 5px;
    border-radius: 7px;
}

/* Input Amount */
input[type="number"], select[name="order"] {
    display: none;
}

/* Table */
table {
    /* Position */
    width: 90%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    /* Font */
    font-size: 18px;
}
th, td {
    /* Border */
    border: 1px solid;
}
tbody th {
    /* Font */
    text-align: left;
}

/* Show More Button */
th button {
    /* Position */
    margin: 0;
    width: auto;
    border: 0;
    /* Font */
    font-size: 18px;
    background-color: transparent;
    color: rgb(153, 0, 255);
}
button:hover {
    /* Font */
    cursor: pointer;
}