// Builderment-styled input and select
.bm-input, .bm-select {
	position: relative;

	> span {
		position: absolute;
		left: 1em;
		top: -1.5em;
		font-size: .75em;
		padding: 0 .2em;
		background-color: white;
	}
}

.bm-input > input, .bm-select > select, .bm-span {
	width: 100%;
	min-width: 160px;
	max-width: 100%;
	// min-width: max-content;
	margin: 0;
	border: 1px solid black;
	border-radius: .6em;
}

// Builderment-styled span
.bm-span {
	padding: .6em .75em .4em;
}

// Builderment-styled select
.bm-select {
	> select {
		padding: .5em;
	}
}

// Builderment-styled input
.bm-input {
	> input {
		padding: .6em .75em;
	}
}