input, select {
	font: inherit;
}

.bm-input, .bm-select {
	position: relative;

	> span {
		position: absolute;
		left: 1em;
		top: -1.5em;
		font-size: .75em;
		padding: 0 .2em;
		background-color: white;
	}

	> select, > input {
		margin: 0;
		border: 1px solid black;
		border-radius: .6em;
	}
}

.bm-select {
	> select {
		padding: .5em;
	}
}

.bm-input {
	> input {
		padding: .6em .75em;
	}
}