@use "fonts.scss";

//// Grid
.selectFilters { grid-area: 'select-filters'; }
.sliderFilters { grid-area: 'slider-filters'; }
.filterGrid {
    display: grid;
    grid-template-areas:
        'select-filters slider-filters';
    // Switch grid when screen size gets smaller
    @media (max-width: 830px) {
        grid-template-areas:
            'select-filters'
            'slider-filters';
    }
}

//// Input Amount
.collection {
    .filterGrid {
        @include fonts.troika;
    }

    input[type="number"], select[name="order"] {
        // Font
        font-family: troika, Arial, Helvetica, sans-serif;
        display: none;
    }
}

//// Input Range
label:has(+ input[type="range"]) {
    bottom: 3px;
}

//// Checkbox
// Edit container that has input
label:has(input[type="checkbox"]) {
    // Position
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
// Remove default
input[type="checkbox"] {
    // Position
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    // Cursor
    cursor: pointer;
}
// Add new checkbox
span.checkbox {
    // Position
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(225, 225, 225);
    border: 1px solid darkgray;
    border-radius: 4px;

    // Check mark
    &::after {
        // Position
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
label:has(input[type="checkbox"]):hover span.checkbox {
    background-color: rgb(200, 200, 200);
}
input[type="checkbox"]:checked ~ span.checkbox {
    background-color: #2196F3 !important;
}
// Show when checked
label:has(input[type="checkbox"]) input[type="checkbox"]:checked ~ span.checkbox:after {
    display: block;
}

// English
html:lang(en) {
    @media (max-width: 410px) {
        //// Filter Collection
        .collection:has(.filterGrid) {
            font-size: 4vw;

            // Select Menu
            select {
                font-size: 3.5vw;
                padding: 1vw;
            }
            // Input Range
            input[type="range"] {
                width: 30vw;
            }
        }

        //// Checkbox
        span.checkbox {
            width: 3.5vw;
            height: 3.5vw;

            // Check mark
            &::after {
                left: 1vw;
                top: .2vw;
                width: 1vw;
                height: 1.8vw;
                border-width: 0 .8vw .8vw 0;
            }
        }
        // Edit container that has input
        label:has(input[type="checkbox"]) {
            padding-left: 4.5vw;
        }
    }
}

// Netherland
html:lang(nl) {
    @media (max-width: 457px) {
        //// Filter Collection
        .collection:has(.filterGrid) {
            font-size: 3.3vw;

            // Select Menu
            select {
                font-size: 2.8vw;
                padding: 1vw;
            }
            // Input Range
            input[type="range"] {
                width: 30vw;
            }
        }

        //// Checkbox
        span.checkbox {
            width: 3vw;
            height: 3vw;

            // Check mark
            &::after {
                left: .8vw;
                top: 0;
                width: .8vw;
                height: 1.6vw;
                border-width: 0 .8vw .8vw 0;
            }
        }
        // Edit container that has input
        label:has(input[type="checkbox"]) {
            padding-left: 4vw;
        }
    }
}