@use "fonts.scss";

//// Grid
.selectFilters { grid-area: 'select-filters'; }
.sliderFilters { grid-area: 'slider-filters'; }
.filterGrid {
	display: grid;
	grid-template-areas:
		'select-filters slider-filters';
	// Switch grid when screen size gets smaller
	@media (max-width: 830px) {
		grid-template-areas:
			'select-filters'
			'slider-filters';
	}
}

//// Input Amount
.collection {
	.filterGrid, input[type="number"] {
		@include fonts.troika;
	}

	// Input number
	input[type="number"] {
		width: 4rem;
	}
}

/// Input Range
input[type="range"] {
	// Remove default appearance
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	
	// Track
	position: relative;
	bottom: 4px;
	&:has(+ datalist) {
		bottom: 12px;

		// Centers thumb on the track
		&::-webkit-slider-thumb {
			margin-bottom: 18px;
		}
	}
	height: 3px;
	border-radius: 5px;
	background-color: rgb(100, 206, 108);
	&::-ms-fill-lower { background-color: rgb(100, 206, 108); }
	&::-ms-fill-upper { background-color: rgba(0, 0, 0, 0.1); }
	
	// Thumb
	@mixin range-thumb {
		// Remove default appearance
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;  // For moz

		height: 1rem;
		width: 1rem;
		background-color: white;
		box-shadow: 0 0 5px rgb(200, 200, 200);
		border-radius: 50%;
		transition: .2s ease-in-out;
	}
	&::-webkit-slider-thumb { @include range-thumb; }
	&::-moz-range-thumb { @include range-thumb; }
	&::-ms-thumb { @include range-thumb; }
}
// Span
input[type="range"] + span {
	display: inline-block;
	width: 1rem;
	@include fonts.Oswald;
}
// Label
label:has(+ input[type="range"]) {
	bottom: 3px;
}

//// Checkbox
// Edit container that has input
label:has(input[type="checkbox"]) {
    // Position
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
// Remove default
input[type="checkbox"] {
    // Position
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    // Cursor
    cursor: pointer;
}
// Add new checkbox
span.checkbox {
    // Position
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(225, 225, 225);
    border: 1px solid darkgray;
    border-radius: 4px;

    // Check mark
    &::after {
        // Position
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
label:has(input[type="checkbox"]):hover span.checkbox {
    background-color: rgb(200, 200, 200);
}
input[type="checkbox"]:checked ~ span.checkbox {
    background-color: #2196F3 !important;
}
// Show when checked
label:has(input[type="checkbox"]) input[type="checkbox"]:checked ~ span.checkbox:after {
    display: block;
}

// English
html:lang(en) {
	@media (max-width: 410px) {
		//// Filter Collection
		.collection:has(.filterGrid) {
			font-size: 3.9vw;

			// Select Menu
			select {
				padding: 1.2vw;
				font-size: 3.28vw;
			}
			// Input Range
			input[type="range"] {
				width: 31.4vw;
			}
			// Input number
			input[type="number"] {
				width: 15.6vw;
				font-size: 3.5vw;
			}
		}

		//// Checkbox
		span.checkbox {
			width: 3.6vw;
			height: 3.6vw;

			// Check mark
			&::after {
				left: 1vw;
				top: .3vw;
				width: 1vw;
				height: 1.8vw;
				border-width: 0 .8vw .8vw 0;
			}
		}
		// Edit container that has input
		label:has(input[type="checkbox"]) {
			padding-left: 4.9vw;
		}
	}
}

// Netherland
html:lang(nl) {
	@media (max-width: 456px) {
		//// Filter Collection
		.collection:has(.filterGrid) {
			font-size: 3.5vw;

			// Select Menu
			select {
				padding: 1.075vw;
				font-size: 2.8vw;
			}
			// Input Range
			input[type="range"] {
				width: 27vw;
			}
			// Input number
			input[type="number"] {
				width: 13.5vw;
				font-size: 2.8vw;
			}
		}

		//// Checkbox
		span.checkbox {
			width: 3.4vw;
			height: 3.4vw;

			// Check mark
			&::after {
				left: .95vw;
				top: .25vw;
				width: .9vw;
				height: 1.7vw;
				border-width: 0 .8vw .8vw 0;
			}
		}
		// Edit container that has input
		label:has(input[type="checkbox"]) {
			padding-left: 4.4vw;
		}
	}
}