.root {
	margin: .5em 1em;

	> * {
		margin-left: auto;
		margin-right: auto;
		// margin: .5em;
		max-width: 60em;
	}
}

.main {
	h2 {
		display: inline-block;

		+ time {
			color: gray;
			font-size: small;
		}
	}
}