// Aside
.aside {
	// Position
	position: relative;
	padding: 1em;
	margin-bottom: 1em;

	// Style
	text-align: center;
	border: 3px solid black;
	border-radius: 2em;

	> h1 {
		// Position
		margin: 0;
	}
}

// Option
.option {
	// Position
	position: relative;
	display: block;
	padding: 1.5em;
	margin: 1em 0;
	text-align: left;

	// Style
	border: 2px solid black;
	border-radius: 1em;

	// Label of the filter option
	> span:first-child {
		// Position
		display: block;
		position: absolute;
		top: 0;
		left: 1em;
		padding: 0 .2em;

		// Style
		transform: translateY(calc(-50% - 1px));
		background-color: white;
	}

	// Remove button (×)
	.remove-button {
		// Position
		position: absolute;
		padding: .1em;
		font-size: 1.5em;
		top: 0;
		right: .75em;
		transform: translateY(calc(-50% - 1px));

		// Style
		background-color: white;
		border: none;
		border-radius: 1em;

		// Cursor
		cursor: pointer;
		user-select: none;
	}

	// Up and down buttons
	[class|="move-button"] {
		// Position
		position: absolute;
		right: 0;
		top: 50%;
		margin: 0;
		padding: 0;
		width: .75em;
		height: .75em;
		transform: translate(57.5%, -50%) rotate(45deg);

		// Style
		border: .2em solid white;
		border-radius: .25em;
		background-color: white;

		// Cursor
		cursor: pointer;
		user-select: none;

		> div {
			// Position
			width: 100%;
			height: 100%;

			// Style
			border: 2px solid black;
		}
	}
	.move-button-up {
		// Position
		top: 30%;

		&, > div {
			// Style
			border-bottom: none;
			border-right: none;
		}
	}
	.move-button-down {
		// Position
		top: 70%;

		&, > div {
			// Style
			border-top: none;
			border-left: none;
		}
	}
}